<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn Vue Js</title>
    <script src="assets/js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Welcome Vue Js</h1>
        <H3>Welcome {{name.length > 4 ? name : 'is to short'}}</H3>
        <p>Your age is : {{ age + ' Years'}}</p>
        <p>Your age is : {{ yourAge() }}</p>
        <p>Your first skills is : {{ skills[0]}}</p>
        <p>Your Are : {{ isSubscribed ? 'Subscribed' : 'Not Subscribed'}}</p>
        <p>Resultat Test is : {{ testComplited[0].name}} {{ testComplited[0].resultat}}</p>
        <p v-text="name"></p>

        <ul>
            <li v-for="(skill, index) in skills">
                {{index}} | {{skill}}
            </li>
            <li v-for="(test, index) in testComplited">
                {{index}} | {{test.name}} - {{test.resultat}}
            </li>
        </ul>
        <p v-if="age > 50">your are old</p>
        <p v-else-if="age > 15 && age < 50">your still young</p>
        <p v-if="age < 15">your are young</p>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: 'Abdelkader',
                age: 8,
                date: 'today',
                skills: ['HTML', 'CSS', 'JS'],
                isSubscribed: false,
                testComplited: [{
                    name: 'first test',
                    resultat: '10',
                }, {
                    name: 'second test',
                    resultat: '20',
                }, {
                    name: 'thrid test',
                    resultat: '30',
                }, ],
            },
            methods: {
                yourAge: function() {
                    return 'your age in days is :' + this.age * 365;
                }
            }

        })
    </script>
</body>

</html>